version: '3'
services:
    flask-react:
      build: .
      command: bash -c "/home/app-user/app/run.sh"
      volumes:
        - .:/home/app-user/app
        - /home/app-user/app/node_modules
      ports:
        - "5000:5000"
      environment:
        - FLASK_APP=app.py
        - FLASK_DEBUG=1
      user: root
