@font-face {
  font-family: 'Butler';
  font-weight: normal;
  src: asset-url('../fonts/Butler_Regular.otf');
}

@font-face {
  font-family: 'Butler';
  font-weight: bold;
  src: asset-url('../fonts/Butler_Bold.otf');
}

@font-face {
  font-family: 'Butler';
  font-weight: lighter;
  src: asset-url('../fonts/Butler_Light.otf');
}
@font-face {
  font-family: 'Butler';
  font-weight: 100;
  src: asset-url('../fonts/Butler_Ultra_Light.otf');
}

@font-face {
  font-family: 'Butler';
  font-weight: 200;
  src: asset-url('../fonts/Butler_Light.otf');
}

@font-face {
  font-family: 'Butler';
  font-weight: 300;
  src: asset-url('../fonts/Butler_Light.otf');
}

@font-face {
  font-family: 'Butler';
  font-weight: 400;
  src: asset-url('../fonts/Butler_Regular.otf');
}

@font-face {
  font-family: 'Butler';
  font-weight: 500;
  src: asset-url('../fonts/Butler_Medium.otf');
}

@font-face {
  font-family: 'Butler';
  font-weight: 600;
  src: asset-url('../fonts/Butler_Medium.otf');
}

@font-face {
  font-family: 'Butler';
  font-weight: 700;
  src: asset-url('../fonts/Butler_Bold.otf');
}

@font-face {
  font-family: 'Butler';
  font-weight: 800;
  src: asset-url('../fonts/Butler_ExtraBold.otf');
} 

@font-face {
  font-family: 'Butler';
  font-weight: 900;
  src: asset-url('../fonts/Butler_Black.otf');
}
